Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Bảo mật cơ bản
<Files "firebase-applet-config.json">
    Order Allow,Deny
    Deny from all
</Files>
